<section class="about-us" style="margin-top: -70px">
  <div class="about">
    <!--<img src="girl.png" class="pic">-->
    <div class="text">
      <h2>About Us</h2>
      <h5>Front-end Developer & <span>Designer</span></h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus
        ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id
        eos adipisci iusto molestias asperiores explicabo cum vero atque amet
        corporis! Soluta illum facere consequuntur magni. Ullam dolorem
        repudiandae cumque voluptate consequatur consectetur, eos provident
        necessitatibus reiciendis corrupti!
      </p>
      <!-- Container (Services Section) -->
      <div class="container-fluid text-center" style="margin-top: -40px;">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-cog logo-small"></span>
            <h4>SETTINGS</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color: #303030">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
        </div>
      </div>
      <!--  <div class="data">
        <a href="#" class="hire">Hire Me</a>
      </div> -->
    </div>
  </div>
</section>
