<div class="container-fluid justify-content-center" style="margin-top: -50px">
  <div class="row">
    <div class="topic-text" style="color: black">Send us a message</div>
    <p>
      If you have any quries related to our services, please send a message.
    </p>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your mobile" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your message" />
      </div>

      <div class="button">
        <input type="button" value="Send Now" />
      </div>
    </form>
  </div>

  <div style="margin-top: 50px; display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; ">

      <hr style="border-top: 1px solid navy;width:35%;margin-top: -10px;" />

      <div class="address details">
        <i class="fas fa-map-marker-alt content1"></i>
        <div class="topic">Address</div>
        <div class="text-one">MVP Colony, Sector 12</div>
        <div class="text-two">Visakhapatnam 16</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone content1"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+91 9893 570732</div>
        <div class="text-two">+91 3434 567815</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope content1"></i>
        <div class="topic">Email</div>
        <div class="text-one">admin.chatai@gmail.com</div>
        <div class="text-two">info.chatai@gmail.com</div>
      </div>
      <hr style="border-top: 1px solid navy; margin-top: 10px;width: 35%;" />

  </div>

  <!--   <div class="content" style="margin-top: 30px">
    <div class="left-side">
      <hr style="border-top: 1px solid navy; -top: 20px" />

      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">MVP Colony, Sector 12</div>
        <div class="text-two">Visakhapatnam 16</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+91 9893 570732</div>
        <div class="text-two">+91 3434 567815</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">admin.chatai@gmail.com</div>
        <div class="text-two">info.chatai@gmail.com</div>
      </div>
      <hr style="border-top: 1px solid navy; -top: 20px" />
    </div>
  </div> -->
</div>
