<div [ngClass]="condition" style="height: 100%vh">
  <div class="titleCls">Utility to Upload PDF Files & Search in PDF</div>
  <div
    class="dropzone"
    dropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering"
  >
    <h3>Firebase Storage Bucket</h3>
    <p>Drag and Drop a File</p>
    <div class="file">
      <label class="file-label">
        <input
          class="file-input"
          type="file"
          (change)="onDrop($event.target.files)"
        />
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label"> or choose a file… </span>
        </span>
      </label>
    </div>
  </div>
  <div *ngIf="files.length > 0">
    <h3>Uploaded Files</h3>

    <div *ngFor="let file of files">
      <upload-task [file]="file"></upload-task>
    </div>
  </div>
  <div class="form-group">
    <label for="options"
      ><h3>
        Firebase - Uploaded Files
        <span
          style="font-size: 20px; margin-bottom: 5px"
          class="badge badge-warning"
          >{{ options.length }}</span
        >
      </h3></label
    >
    <div class="container">
      <ul class="list-group">
        <li style="list-style-type: none; margin-left: -15px">
          <input
            *ngIf="options.length > 0"
            class="form-control"
            style="width: 200px"
            placeholder="Search File Name..."
            type="text"
            [(ngModel)]="filteredStatus"
          />
        </li>
      </ul>
      <!-- <br /> -->
      <ul
        class="list-group container"
        style="height: auto; max-height: 300px; overflow-x: hidden"
      >
        <li
          [ngStyle]="i === optionHighlight && { background: '#abf6ab' }"
          *ngFor="let option of options | filter : filteredStatus; index as i"
          class="row align-items-center justify-content-center list-group-item"
        >
          <div
            class="col-md-6 col-sm-12"
            style="text-align: left; font-size: 15px; color: #a1a1e7"
          >
            <label>
              <input
                class="buttonx"
                type="checkbox"
                name="options"
                value="{{ option.url }}"
                [(ngModel)]="option.checked"
              />
              <!--  {{ option.name }} -- {{ i }} -- {{ option.value }} -->
              {{ option.name | slice : 20 }}
            </label>
          </div>
          <div class="col-md-3  col-sm-12">
            <span style="text-align: center; font-size: 15px; color: #bc9f69"
              >[ {{ option.uploadedDtTm }} ]</span
            >
          </div>
          <div
            class="col-md-3 col-sm-12"
            style="text-align: right; font-size: 20px; color: red"
          >
            <div class="row">
              <div class="col-md-10  col-xs-10" style="border: 1px solid navy1">
                <a [href]="option.url" target="_blank" rel="noopener"
                  ><span
                    class="glyphicon glyphicon-eye-open buttonx"
                    style="text-align: center; color: purple"
                    aria-hidden="true"
                  ></span
                ></a>
              </div>
              <div class="col-md-2  col-xs-2" style="border: 1px solid navy1">
                <span
                  (click)="deleteFile(option.name, option.url, option.id)"
                  class="glyphicon glyphicon-trash buttonx"
                  style="text-align: right"
                  aria-hidden="true"
                ></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- <br /> -->
      <ul class="list-group">
        <li style="list-style-type: none; margin-left: -15px">
          <!-- <input
            placeholder="Enter your queries here..."
            style="width: 200px"
            class="form-control"
            type="text"
            [(ngModel)]="searchTxt"
          /> -->
          <textarea
            placeholder="Enter your queries here..."
            type="text"
            [(ngModel)]="searchTxt"
            class="form-control"
            rows="2"
          >
          </textarea>
        </li>
      </ul>

      <!--  <div
        [ngStyle]="i === optionHighlight && { background: '#abf6ab' }"
        *ngFor="let option of options | filter : filteredStatus; index as i"
        class="row align-items-center justify-content-center"
      >
        <div
          class="col-md-6"
          style="text-align: left; font-size: 15px; color: #a1a1e7"
        >
          <label>
            <input
              class="buttonx"
              type="checkbox"
              name="options"
              value="{{ option.url }}"
              [(ngModel)]="option.checked"
            />
            {{ option.name | slice : 20 }}
          </label>
        </div>
        <div class="col-md-3">
          <span style="text-align: center; font-size: 15px; color: #bc9f69"
            >[ {{ option.uploadedDtTm }} ]</span
          >
        </div>
        <div
          class="col-md-3"
          style="text-align: right; font-size: 20px; color: red"
        >
          <div class="row">
            <div class="col-md-10" style="border: 1px solid navy1">
              <a [href]="option.url" target="_blank" rel="noopener"
                ><span
                  class="glyphicon glyphicon-eye-open buttonx"
                  style="text-align: center; color: purple"
                  aria-hidden="true"
                ></span
              ></a>
            </div>
            <div class="col-md-2" style="border: 1px solid navy1">
              <span
                (click)="deleteFile(option.url, option.id)"
                class="glyphicon glyphicon-trash buttonx"
                style="text-align: right"
                aria-hidden="true"
              ></span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!--  <input
    placeholder="Enter Text to Search"
    class="form-control"
    type="text"
    [(ngModel)]="searchTxt"
  /><br /> -->

  <div *ngIf="!loading">
    <button class="btn btn-success btn-lg buttonx" (click)="searchInPdf()">
      SearchPDF AI
      <span
        class="glyphicon glyphicon-send buttonx"
        style="text-align: center; color: white"
        aria-hidden="true"
      ></span>
    </button>
    <br /><br />
  </div>
  <div class="card" *ngIf="displayResult != ''">
    <div class="card-body">
      <h3 class="card-title" style="padding-top: 10px; color: #6fef58">
        AI-BOT Result
      </h3>
      <p
        class="card-text"
        style="padding-top: 10px; color: #6d6dc1; font-size: 16px"
      >
        {{ displayResult }}
      </p>
      <!-- <p class="card-text" style="padding-top: 10px;color:#6d6dc1;font-size: 20px;">kljkj lkjklj ;lkj;lkj ;lkj;lk j;lkj ;lkj</p> -->
    </div>
  </div>

  <!-- <br /> -->
</div>
<div *ngIf="loading">
  <!-- <button
    class="btn btn-outline-success animated infinite pulse"
    style="
      font-weight: bold;
      font-size: 18px;
      padding: 20px;
      color: navy;
      box-shadow: 5px 10px #888888;
      background-image: linear-gradient(to right, #00ff26, yellow);
    "
  >
    Processing...
  </button> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span
          class="animated infinite flipInX"
          style="color: navy; font-size: 20px"
          >Processing...</span
        >
        <div class="loader">
          <div class="loader-inner box1"></div>
          <div class="loader-inner box2"></div>
          <div class="loader-inner box3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="nodatafound">
  <button
    class="btn btn-outline-success"
    style="
      font-weight: bold;
      font-size: 18px;
      padding: 20px;
      color: red;
      box-shadow: 5px 10px #888888;
      background-image: linear-gradient(to right, #00ff26, yellow);
    "
  >
    No Results Found!<br />
    Please use
    <span class="animated infinite flipInX" style="color: navy"
      >'Need Help?'</span
    >, option
  </button>
</div>
